<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <listeners>
        <listener class-name="tools.TestNGCustomReportListener" />
        <listener class-name="tools.ScreenshotMaker" />
    </listeners>
    <test name="Practice Grouping">
        <groups>
            <run>
                <include name="SysAuthLoginTests" />
            </run>
        </groups>
        <classes>
            <class name="tests.LoginScenarios" />
            <class name="tests.LoginPageUITests" />
        </classes>
    </test>
</suite>

